In [90]:
# List of 10 random numbers from 1 to 100
import random
random_list = [random.randint(1, 100) for _ in range(5)]

In [74]:
print(random_list)

[49, 70, 33, 73, 18]

In [92]:
##to add new values to the list
random_list.insert(1,25)
random_list.insert(2,30)

print(random_list)

[73, 25, 30, 80, 63, 32, 42]

In [110]:
##print all the list elements using loop
index = 0  
while index < len(random_list):  
    print(random_list[index])  
    index += 1

73
25
30
80
63
32
42

In [98]:
## creating dictionary

person={'name':'John',
        'age':'25',
        'address':'New york'}

In [100]:
person

{'name': 'John', 'age': '25', 'address': 'New york'}

In [114]:
##adding new key-value pair to dictionary
person['phone']=1234567890

print('updated dictionary',person)

updated dictionary {'name': 'John', 'age': '25', 'address': 'New york', 'phone': 1234567890}

In [138]:
## set

numbers={'1','2','3','4','5'}
print (numbers)

{'4', '1', '5', '3', '2'}

In [140]:
##to add a new value 6 to the set
numbers.add(6)
print('updated set "number" ' ,numbers)

updated set "number"  {6, '4', '1', '5', '3', '2'}

In [142]:
## to remove the number 3 from the set
numbers.remove('3')
print('the updated set "numbers"',numbers)

the updated set "numbers" {6, '4', '1', '5', '2'}

In [146]:
##tuple
tuple_of_numbers= ("1","2","3","4")
print('The values of the tuple "tuple_with_numbers" are',tuple_of_numbers)

The values of the tuple "tuple_with_numbers" are ('1', '2', '3', '4')

In [150]:
##length of tuple
len(tuple_of_numbers)

4