In [1]:
print("name : Bob")
print("student number :ST1001")
print("email : bob@gmail.com")

name : Bob
student number :ST1001
email : bob@gmail.com

In [7]:
 print('student name: Angel\nstudent number: ST001\nemail: angel@gmail.com')

student name: Angel
student number: ST001
email: angel@gmail.com

In [17]:
print('the sum of 14 & 7 is', 14+7)
print('the product of 14 & 7 is',14*7)
print('the difference of 14 & 7 is',14-7)
print('the value of 14 devided by 7 is',14/7)

the sum of 14 & 7 is 21
the product of 14 & 7 is 98
the difference of 14 & 7 is 7
the value of 14 devided by 7 is 2.0

In [23]:
print('1 \n2 \n3 \n4 \n5')

1
2
3
4
5

In [31]:
print('"SDK" stands for "Software Development Kit",\nwhereas\n"IDE" stands for "Integrated Development\nEnvironment".')

"SDK" stands for "Software Development Kit",
whereas
"IDE" stands for "Integrated Development
Environment".

In [39]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b") 
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [59]:
num=23
textnum="53"
decimel=98.3
sum=num+decimel

In [51]:
type(num)

int

In [53]:
type(textnum)

str

In [55]:
type(decimel)

float

In [63]:
print(sum)
type(sum)

121.3

float

In [65]:
ndays=365
nhours=24
nminute=60
print('Number of  minutes in one year is',ndays*nhours*nminute)

Number of  minutes in one year is 525600

In [81]:

 print('Enter your name:')
x = input()
print('hi, ' + x)

Enter your name:

 Rahina

hi, Rahina

## pounds to dollars

In [166]:

print('enter the amount you want to convert')
x=int(input())
y=float(x*1.23)
print(x,'ponds are $',y)

enter the amount you want to convert

 2

2 ponds are $ 2.46